* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1040px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn button:hover {
  color: white;
  background-color: #6f2cff;
  cursor: pointer;
}
